@page "/counter"
@using System.ComponentModel
@using WpfBlazorHybridApp.ViewModel
@inject MainViewModel Vm
@implements IDisposable

<h1>Counter</h1>

<p role="status">Current count: @Vm.CounterValue</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    private void IncrementCount()
    {
        Vm.CounterValue++;
    }

    protected override void OnInitialized()
    {
        Vm.PropertyChanged += OnPropertyChanged;
    }

    public void Dispose()
    {
        Vm.PropertyChanged -= OnPropertyChanged;
    }

    private void OnPropertyChanged(object? sender, PropertyChangedEventArgs e)
    {
        this.StateHasChanged();
    }
}
